<!DOCTYPE html>
<html lang="en">

<head>
    <title>address</title>
    <meta charset="utf-8">

</head>

<body>


    <table>
        <tr>
            <label>Address</label>
            <p> {{address}}</p>
        </tr>
        <tr>
            <label>latitude</label>
            <p> {{lat}}</p>
        </tr>
        <tr>
            <label>longitude</label>
            <p> {{lng}}</p>
        </tr>
         <tr>
            <label>IP Address</label>
            <p> {{IPAddress}}</p>
        </tr>
        <tr>
            <label>tempreture</label>
            <p> {{temp}}</p>
        </tr>


    </table>









</body>



</html>